* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}



.text{
  font-size: 13px;
  font-family:Arial, Helvetica, sans-serif;
}

.text-large{
  font-size: 39px;
}

.title{
  font-size: 26px;
  margin: 0.5rem;
  color: white;
}

.header-container{
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: black;
  box-shadow: 5px 10px 15px #00000079;
}

.header-logo-text{
  color: white;
  cursor: pointer;
}

.main-section-container{
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  position: relative;
}

.main-section-container::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-color: gray;
  background-image: url(resources/imgs/background-img.jpg);
  filter: grayscale(100%) brightness(50%);
  background-size: contain;
  background-repeat: repeat;
}

@media only screen and (max-width: 768px){
  .main-section-container::before{
    height: 750px;
  }
}

@media only screen and (max-width: 768px){
  .main-section-container{
    height: 750px;
  }
}

@media only screen and (max-width: 768px){
  #main1{
    flex-direction: column;
  }
}

.column{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.list{
  display: flex;
  flex-direction: column;
}

.list a{
  margin: 0.5rem;
}

.button{
  padding: 0.5rem;
  height: 2rem;
  width: 10rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.65rem;
  text-decoration: underline;
  text-decoration-color: black;
}

.button p{
  color: black;
}


iframe{
  background-color: white;
  z-index: 0;
  width: 80vw;
  min-width: 300px;
  height: 113.14vw;
  margin: 2rem;
  max-width: 800px;
  max-height: 1130px;
}

#main2{
  height: calc(113.14vw + 4rem);
}

#main2::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(113.14vw + 4rem);
  background-color: gray;
  background-image: url(resources/imgs/background-img.jpg);
  filter: grayscale(100%) brightness(50%);
  background-size: contain;
  background-repeat: repeat;
}
